/* (CC-NC-BY) μ—¬μΈν 2019 */
* 
{
  box-sizing: border-box;
}

/* Style the header */
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}
/* Create two columns/boxes that floats next to each other */
nav {
  position: relative;
  float: left;
  width: 400px ;
  background: #f1f1f1;
  padding: 0px;
  height: 400px;
}

article{
  float: left;
  padding: 20px;
  width:67%;
  background-color: #f1f1f1;
  height: 400px;
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}
footer {
    background-color: #f1f1f1;
    padding: 5px;
    float: left;
    width: 400px;



}
/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    width: 50%;       
    font-family: monospace;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
ul {
    list-style:none;
    margin:0;
    padding:0;
}

li {
    margin: 0 0 0 10;
    border : 0;
    float: left;
}